parameters:
    classesAllowedToBeExtended:
        - App\Domain\Model\Enum
    tmpDir: var/phpstan
    level: 7
    paths:
        - src
    ignoreErrors:
        - '/Parameter #1 $configuration of method Symfony\Component\DependencyInjection\Extension\Extension::processConfiguration() expects Symfony\Component\Config\Definition\ConfigurationInterface, Symfony\Component\Config\Definition\ConfigurationInterface|null given./'
        -
            message: '#Cannot call method createMessage\(\) on Interop\\Queue\\PsrContext\|false\.#'
            path: %currentWorkingDirectory%/src/Context/EnqueueContext.php
